<h2>Create New Dataset</h2>
<p>Here you can create a new dataset according to your source. Once dataset created successfully you will be redirected to uploaded datasets page.
<form nz-form [formGroup]="form" class="ant-advanced-search-form">
    <div nz-row [nzGutter]="24">
        <div nz-col [nzSpan]="12">
            <nz-form-item>
                <nz-form-label>Source </nz-form-label>
                <nz-form-control>
                    <nz-select formControlName="provider" nzShowSearch nzAllowClear nzPlaceHolder="Select Provider">
                        <nz-option nzLabel="CSV" nzValue="1"></nz-option>
                        <nz-option nzLabel="My SQL" nzValue="2"></nz-option>
                        <nz-option nzLabel="Mongo DB" nzValue="3"></nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
        </div>
        <!-- </div>
    <div nz-row [nzGutter]="24"> -->
        <div nz-col [nzSpan]="12">
            <nz-form-item>
                <nz-form-label>Name </nz-form-label>
                <nz-form-control>
                    <input formControlName="name" nz-input />
                </nz-form-control>
            </nz-form-item>
        </div>
        <div *ngIf="provider == '1'" nz-col [nzSpan]="12">
            <nz-form-item>
                <nz-form-label>Primary Key </nz-form-label>
                <nz-form-control>
                    <input formControlName="pk" nz-input />
                </nz-form-control>
            </nz-form-item>
        </div>
        <div *ngIf="provider == '1'" nz-col [nzSpan]="12">
            <nz-form-item>
                <nz-form-label>File </nz-form-label>
                <nz-form-control>
                    <!-- <nz-upload nzAction="https://www.mocky.io/v2/5cc8019d300000980a055e76"
                        [nzHeaders]="{ authorization: 'authorization-text' }" formControlName="file">
                        <button nz-button><i nz-icon nzType="upload"></i>Click to Upload CSV</button>
                    </nz-upload> -->
                    <input style="padding: 2px;" (change)="onFileSelect($event)" type="file" nz-input />
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
</form>
<form  nz-form [formGroup]="mySqlForm">
    <div *ngIf="provider == '2'">
        <div style="padding:0rem 0.6rem" nz-row [nzGutter]="24">
            <h3>Connection Detials</h3>
        </div>
        <div nz-row [nzGutter]="24">
            <div nz-col [nzSpan]="12">
                <nz-form-item>
                    <nz-form-label>Host </nz-form-label>
                    <nz-form-control>
                        <input formControlName="host" nz-input />
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col [nzSpan]="12">
                <nz-form-item>
                    <nz-form-label>Username </nz-form-label>
                    <nz-form-control>
                        <input formControlName="uname" nz-input />
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col [nzSpan]="12">
                <nz-form-item>
                    <nz-form-label>Password </nz-form-label>
                    <nz-form-control>
                        <input type="password" formControlName="pass" nz-input />
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col [nzSpan]="12">
                <nz-form-item>
                    <nz-form-label>Database </nz-form-label>
                    <nz-form-control>
                        <nz-select (nzOpenChange) = "getMySQLDBs()" formControlName="db" nzShowSearch nzAllowClear nzPlaceHolder="Select Database">
                            <nz-option *ngFor="let db of dbList" [nzLabel]="db.Database" [nzValue]="db.Database"></nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <!-- <div nz-col [nzSpan]="12">
                <nz-form-item>
                    <nz-form-label>Table </nz-form-label>
                    <nz-form-control>
                        <nz-select name="tab" nzShowSearch nzAllowClear nzPlaceHolder="Select Table"
                            [(ngModel)]="table">
                            <nz-option nzLabel="Demo" nzValue="Demo"></nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
            </div> -->
        </div>
    </div>
    <div nz-row>
        <div nz-col [nzSpan]="24" class="search-area">
            <button nz-button [nzType]="'primary'" (click)="create()">Create</button>
        </div>
    </div>
</form>