<nz-layout class="app-layout">
    <nz-sider class="menu-sidebar" nzCollapsible nzWidth="256px" nzBreakpoint="md" [(nzCollapsed)]="isCollapsed"
      nzTheme="light" [nzTrigger]="null">
      <div class="sidebar-logo">
        <a href="https://ng.ant.design/" target="_blank">
          <img src="assets/logo.png" alt="logo">
          <h1>Test Data Generator</h1>
        </a>
      </div>
      <ul nz-menu nzTheme="light" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
        <li nz-submenu nzOpen nzTitle="Datasets" nzIcon="dashboard">
          <ul>
            <li nz-menu-item nzMatchRouter>
              <a routerLink="/pages/create-dataset">Create New Dataset</a>
            </li>
            <li nz-menu-item  nzMatchRouter>
              <a routerLink="/pages/view-dataset">Uploaded Datasets</a>
            </li>
            <li nz-menu-item nzMatchRouter>
              <a routerLink="/pages/generate-dataset">Generate Synthetic Dataset</a>
            </li> 
            <li nz-menu-item nzMatchRouter>
              <a routerLink="/pages/saved-dataset">Synthetic Datasets</a>
            </li> 
          </ul>
        </li>
        <li nz-submenu nzOpen nzTitle="Reports" nzIcon="form">
          <ul>
            <li nz-menu-item nzMatchRouter>
              <a>Create Report</a>
            </li>
            <li nz-menu-item nzMatchRouter>
              <a>View Reports</a>
            </li>
          </ul>
        </li>
        <!-- <li nz-submenu nzOpen nzTitle="ML Data Models" nzIcon="form">
          <ul>
            <li nz-menu-item nzMatchRouter>
              <a>Create ML Data Model</a>
            </li>
            <li nz-menu-item nzMatchRouter>
              <a>View ML Data Models</a>
            </li>
          </ul>
        </li> -->
        <li nz-submenu nzOpen nzTitle="Account" nzIcon="form">
          <ul>
            <li nz-menu-item nzMatchRouter>
              <a>Subscriptions</a>
            </li>
            <li nz-menu-item nzMatchRouter>
              <a>Profile</a>
            </li>
            <li nz-menu-item nzMatchRouter>
              <a>Prefrences</a>
            </li>
            <li nz-menu-item nzMatchRouter>
              <a>Settings</a>
            </li>
          </ul>
        </li>
      </ul>
    </nz-sider>
    <nz-layout>
      <nz-header>
        <div class="app-header">
          <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></i>
          </span>
        </div>
      </nz-header>
      <nz-content>
        <div class="inner-content">
          <!-- <div class="search-result-list">
            Search Result List
          </div> -->
          <router-outlet></router-outlet>
        </div>
      </nz-content>
    </nz-layout>
  </nz-layout>