<h2>Generate Synthetic Dataset</h2>
<p>Here you can generate a new synthetic dataset from the uploaded datasets. Specify the details mentioned below for generating a synthetic dataset </p>
<div nz-row [nzGutter]="24" *ngFor="let m of models;let i = index;">
    <div nz-col [nzSpan]=8>
        <nz-form-item>
            <nz-form-label>Provider</nz-form-label>
            <nz-form-control>
                <nz-select name="provider" nzShowSearch nzAllowClear nzPlaceHolder="Select Provider"
                    [(ngModel)]="m.provider" (ngModelChange)="getDatasets($event)">
                    <nz-option nzLabel="CSV" nzValue="1"></nz-option>
                    <nz-option nzLabel="My SQL" nzValue="2"></nz-option>
                    <nz-option nzLabel="Mongo DB" nzValue="3"></nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>
    </div>
    <div nz-col [nzSpan]="8">
        <nz-form-item>
            <nz-form-label>{{m.provider  == '1' ? 'Parent Dataset' : 'Dataset'}} </nz-form-label>
            <nz-form-control>
                <nz-select name="provider" nzShowSearch nzAllowClear nzPlaceHolder="Select Parent Dataset"
                    [(ngModel)]="m.parentDS" (ngModelChange)="getDatasetDetails($event)">
                    <nz-option *ngFor="let _ds of datasets" [nzLabel]="_ds.name" [nzValue]="_ds">
                    </nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>
    </div>
    <ng-container *ngIf="m.parentDS.provider == 1 && m.provider  == '1'  ">
        <div nz-col [nzSpan]="8">
            <nz-form-item>
                <nz-form-label>Child Dataset </nz-form-label>
                <nz-form-control>
                    <nz-select (ngModelChange)="getDatasetCols($event,i)" name="provider" nzShowSearch nzAllowClear
                        nzPlaceHolder="Select Child Dataset" [(ngModel)]="m.childDS">
                        <nz-option *ngFor="let _ds of datasets" [nzLabel]="_ds.name" [nzValue]="_ds">
                        </nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col [nzSpan]="8">
            <nz-form-item>
                <nz-form-label>Foreign Key </nz-form-label>
                <nz-form-control>
                    <nz-select name="provider" nzShowSearch nzAllowClear nzPlaceHolder="Select Foreign Key "
                        [(ngModel)]="m.fkey">
                        <nz-option *ngFor="let f of m.fields" [nzLabel]="f" [nzValue]="f"></nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
        </div>
    </ng-container>
    <ng-container *ngIf="m.parentDS.provider == 2 && m.provider  == '2'   ">
        <div nz-col [nzSpan]="8">
            <nz-form-item>
                <nz-form-label>Parent Table </nz-form-label>
                <nz-form-control>
                    <nz-select (ngModelChange)="getTableChildren(m.parentDS.name,$event)" name="provider" nzShowSearch
                        nzAllowClear nzPlaceHolder="Select Child Dataset" [(ngModel)]="m.pTable">
                        <nz-option *ngFor="let _ds of mysqlTableList" [nzLabel]="_ds" [nzValue]="_ds">
                        </nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col [nzSpan]="8">
            <nz-form-item>
                <nz-form-label>Child Table </nz-form-label>
                <nz-form-control>
                    <nz-select name="provider" nzShowSearch nzAllowClear nzPlaceHolder="Select Foreign Key "
                        [(ngModel)]="m.cTable">
                        <nz-option *ngFor="let f of mysqlChildrenTable" [nzLabel]="f.TABLE_NAME"
                            [nzValue]="f.TABLE_NAME"></nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
        </div>
    </ng-container>
</div>
<div nz-row [nzGutter]="24">
    <div nz-col [nzSpan]="8">
        <nz-form-item>
            <nz-form-label>Name of dataset</nz-form-label>
            <nz-form-control>
                <input nz-input type="text" [(ngModel)]="name">
            </nz-form-control>
        </nz-form-item>
    </div>
    <div nz-col [nzSpan]="8">
        <nz-form-item>
            <nz-form-label>No of Rows</nz-form-label>
            <nz-form-control>
                <nz-select name="rows" nzShowSearch nzAllowClear nzPlaceHolder="Select Number of rows "
                    [(ngModel)]="rows">
                    <nz-option nzLabel="10" nzValue="10"></nz-option>
                    <nz-option nzLabel="20" nzValue="20"></nz-option>
                    <nz-option nzLabel="30" nzValue="30"></nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>
    </div>
</div>
<div style="display: flex; justify-content: space-between;">
    <button nz-button nzType="primary" (click)="addMoreRelationship()">Add More Relationship</button>
    <button nz-button nzType="primary" (click)="generate()">Generate</button>
</div>