<nz-table #datasetTable 
[nzData]="data" 
[nzLoading] = "loading"
[nzTotal]="total">
    <thead>
        <tr>
            <th *ngFor="let h of headers">{{h}}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let d of datasetTable.data;let i = index">
            <td *ngFor="let h of headers">{{d[h]}}</td>
        </tr>
    </tbody>
</nz-table>