<h2>Uploaded Datasets</h2>
<p>
  Here you will see all the datasets which were created from create new dataset page. If your source is
  <b>My SQL</b> then you will see a <b>+</b> icon and when you click on this icon you will all
  the tables under the database which was selected during new dataset creation.
</p>
<form nz-form class="ant-advanced-search-form">
  <nz-table nzSize="small" #basicTable [nzData]="listOfData">
    <thead>
      <tr>
        <th>Name</th>
        <th>Source</th>
        <th>PK</th>
        <th nzWidth="25%">Action</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let data of basicTable.data">
        <tr>
          <td>{{ data.name }}</td>
          <td>{{ data.provider == 1 ? 'CSV' : data.provider == 2 ? 'My SQL' : 'Mongo' }}</td>
          <td>{{ data.pk ? data.pk : '-' }}</td>
          <td [nzAlign]="'left'" *ngIf="data.provider == '2'" nzShowExpand [(nzExpand)]="mapOfExpandData[data.name]"
            (nzExpandChange)="getMySQLTables(data.name)"></td>
          <td *ngIf="data.provider == '1'">
            <a (click)="view(data.name)">View</a>
            <nz-divider nzType="vertical"></nz-divider>
            <a>Edit</a>
            <nz-divider nzType="vertical"></nz-divider>
            <a>Delete</a>
          </td>
        </tr>
        <tr *ngFor="let table of mysqlTableList" [nzExpand]="mapOfExpandData[data.name]">
          <td>
          </td>
          <td>
            <b>{{table}}</b>
          </td>
          <td>
            <a (click)="viewMySqlTable(data.name,table)">View</a>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </nz-table>
</form>