<div style="display: flex; justify-content: space-between;">
    <div>
        <h2>Synthetic Datasets</h2>
        <p>You can see all the synthetic datatsets here. By default from all the syntheic datasets data from the first dataset will be visible to see data from other datasets simple choose from the dropdown on the top.
    </div>
    <div>
        <nz-select (ngModelChange)="updateDataset($event)" [(ngModel)]="gdataset">
            <nz-option *ngFor="let l of initdata.list" [nzValue]="l.name" [nzLabel]="l.name"></nz-option>
        </nz-select>
        <button nz-button [nzType]="'primary'" (click)="showModal()"><span>Transform Dataset</span></button>
        <button nz-button [nzType]="'primary'" style="margin: 0px 10px;" (click)="export()"><span>Export</span></button>
    </div>
</div>
<form nz-form class="ant-advanced-search-form">
    <!-- <h3>{{gdataset}}</h3> -->
    <div *ngFor="let t of finalData">
        <h3>{{t.name}}</h3>
        <nz-table  [nzScroll]="{ x: '100px' }" [nzSize]="'small'" #{{t.name}} [nzData]="t.data">
            <thead>
                <tr>
                    <th *ngFor="let th of t.headers">{{th}}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of t.data">
                    <td *ngFor="let key of getKeys(data)">{{data[key]}}</td>
                </tr>
            </tbody>
        </nz-table>
    </div>
</form>

<nz-modal nzOkText="tranform" nzWidth="1100px" [(nzVisible)]="isVisible" nzTitle="Transform"
    (nzOnCancel)="handleCancel()" (nzOnOk)="transform()">
    <div nz-row [nzGutter]="24">
        <div nz-col [nzSpan]=6>
            <nz-form-item>
                <nz-form-label>Transformation Type</nz-form-label>
                <nz-form-control>
                    <nz-select name="provider" nzShowSearch nzAllowClear nzPlaceHolder="Select Transformation Type"
                        [(ngModel)]="transformation.type" (ngModelChange)="getDatasets($event)">
                        <nz-option nzLabel="Choose From Existing Columns" nzValue="1"></nz-option>
                        <nz-option nzLabel="New Column" nzValue="2"></nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
    <div *ngIf="transformation.type == 1">
        <div nz-row [nzGutter]="24">
            <div nz-col [nzSpan]=6>
                <nz-form-item>
                    <nz-form-label>Select Table</nz-form-label>
                    <nz-form-control>
                        <nz-select name="provider" nzShowSearch nzAllowClear nzPlaceHolder="Select Table"
                            [(ngModel)]="transformation.table" (ngModelChange)="getHeaders($event)">
                            <nz-option *ngFor="let t of finalData" [nzLabel]="t.name" [nzValue]="t.name"></nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col [nzSpan]=6>
                <nz-form-item>
                    <nz-form-label>Select Operation</nz-form-label>
                    <nz-form-control>
                        <nz-select name="provider" [nzMode]="'default'" nzShowSearch nzAllowClear
                            nzPlaceHolder="Select Operation" [(ngModel)]="transformation.op">
                            <nz-option *ngFor="let op of ops" [nzLabel]="op.label" [nzValue]="op.value"></nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col [nzSpan]=6>
                <nz-form-item>
                    <nz-form-label>Select Column</nz-form-label>
                    <nz-form-control>
                        <nz-select name="provider" [nzMode]="'multiple'" nzShowSearch nzAllowClear
                            nzPlaceHolder="Select Columns" [(ngModel)]="transformation.cols">
                            <nz-option *ngFor="let h of tableHeaders" [nzLabel]="h" [nzValue]="h"></nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
            </div>

            <div nz-col [nzSpan]=6>
                <nz-form-item>
                    <nz-form-label>Concatenation Delimeter</nz-form-label>
                    <nz-form-control>
                        <input nz-input type="text" [(ngModel)]="transformation.delimeter">
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
        <div nz-row [nzGutter]="24">
            <div nz-col [nzSpan]=6>
                <nz-form-item>
                    <nz-form-label>Additional New Column Name</nz-form-label>
                    <nz-form-control>
                        <input nz-input type="text" [(ngModel)]="transformation.colName">
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
    </div>

    <div *ngIf="transformation.type == 2">
        <div nz-row [nzGutter]="24">
            <div nz-col [nzSpan]=6>
                <nz-form-item>
                    <nz-form-label>Select Table</nz-form-label>
                    <nz-form-control>
                        <nz-select name="provider" nzShowSearch nzAllowClear nzPlaceHolder="Select Table"
                            [(ngModel)]="transformation.table" (ngModelChange)="getHeaders($event)">
                            <nz-option *ngFor="let t of finalData" [nzLabel]="t.name" [nzValue]="t.name"></nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col [nzSpan]=6>
                <nz-form-item>
                    <nz-form-label>Column Name</nz-form-label>
                    <nz-form-control>
                        <input nz-input type="text" [(ngModel)]="transformation.colName">
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col [nzSpan]=6>
                <nz-form-item>
                    <nz-form-label>Select Col Datatype</nz-form-label>
                    <nz-form-control>
                        <nz-select name="provider" [nzMode]="'default'" nzShowSearch nzAllowClear
                            nzPlaceHolder="Select Columns" [(ngModel)]="transformation.dType">
                            <nz-option nzLabel="Number" nzValue="1"></nz-option>
                            <nz-option nzLabel="Varchar" nzValue="2"></nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col [nzSpan]=6>
                <nz-form-item>
                    <nz-form-label>Select Geneartion Type</nz-form-label>
                    <nz-form-control>
                        <nz-select name="provider" [nzMode]="'default'" nzShowSearch nzAllowClear
                            nzPlaceHolder="Select Operation" [(ngModel)]="transformation.gen">
                            <nz-option nzLabel="Random" nzValue="1"></nz-option>
                            <nz-option nzLabel="Range" nzValue="2"></nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col [nzSpan]=6 *ngIf="transformation.gen == 1">
                <nz-form-item>
                    <nz-form-control>
                        <nz-select nzMode="tags" nzPlaceHolder="Enter values" [(ngModel)]="transformation.vals">
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
        <div nz-row [nzGutter]="24">
            <div nz-col [nzSpan]=6 *ngIf="transformation.gen == 2">
                <nz-form-item>
                    <nz-form-label>Values</nz-form-label>
                    <nz-input-group nzCompact>
                        <nz-select [ngModel]="'Between'">
                            <nz-option [nzLabel]="'Between'" [nzValue]="'Between'"></nz-option>
                        </nz-select>
                        <input [(ngModel)]="transformation.min" type="text" nz-input placeholder="Minimum"
                            style="width:100px; text-align: center;" />
                        <input type="text" disabled nz-input placeholder="~"
                            style="width: 30px; border-left: 0px; pointer-events: none; background-color: rgb(255, 255, 255);" />
                        <input [(ngModel)]="transformation.max" type="text" nz-input placeholder="Maximum"
                            style="width: 100px; text-align: center; border-left: 0px;" />
                    </nz-input-group>
                </nz-form-item>
            </div>
        </div>
    </div>
</nz-modal>